RewriteEngine On
RewriteBase /e-comerceDS7/public/

# Bloquear acceso directo a /app desde el navegador
RewriteRule ^(app) - [F,L]

# Redirigir todo lo que no sea archivo/directorio existente a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
